<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../CSS/Profile.css">
  <script src="../Libs/jquery-3.6.4.min.js"></script>
  <script src="../JS/Profile.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 mb-4 mb-lg-0">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150" alt="Profile Picture">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="card-text">Bio</p>
          <button class="btn btn-primary" id="Editbtn">Edit</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <img class="img-fluid" src="https://via.placeholder.com/400x400" alt="Gallery Image">
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <img class="img-fluid" src="https://via.placeholder.com/400x400" alt="Gallery Image">
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <img class="img-fluid" src="https://via.placeholder.com/400x400" alt="Gallery Image">
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <img class="img-fluid" src="https://via.placeholder.com/400x400" alt="Gallery Image">
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="bg-light fixed-bottom">
  <div class="container py-3">
    <button class="btn btn-primary btn-lg" id="AddBtn">Add Post</button>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
